html {
	scroll-behavior: smooth;
    background: #191717;
	color: #DDDADA;
}
main {
	width: 100%;
	margin: 0;
}

body {
	width: 100%;
	margin: 0;
}

.contenedor {
	width: 98%;
	margin: auto;
	text-align: center;
	z-index: 1 !important;
}

.tituloSeccion{
	width: 100%;
	margin: 0;
	color: black;
	text-align: center;
	padding: 1rem 1rem;
	font-size: 5rem;
	font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	background: rgb(255,183,107); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(255,183,107,1) 0%, rgba(255,167,61,1) 16%, rgba(255,124,0,1) 69%, rgba(255,127,4,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  rgba(255,183,107,1) 0%,rgba(255,167,61,1) 16%,rgba(255,124,0,1) 69%,rgba(255,127,4,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  rgba(255,183,107,1) 0%,rgba(255,167,61,1) 16%,rgba(255,124,0,1) 69%,rgba(255,127,4,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffb76b', endColorstr='#ff7f04',GradientType=0 ); /* IE6-9 */
    text-shadow: 1px 1px 1px red, 2px 2px 1px #39005D;
}
