/*FOOTER*/

/*Redes Sociales*/

footer {
	color: white;
	background: #2f2f2f;
	padding: 40px 0;
	text-align: center;
	margin-top: 0px;
	justify-content: center;
	display: flex;
	flex-direction: column;
}

footer img {
	margin: 0 40px;
	width: 3rem;
	vertical-align: middle;
	transform: rotate(0);
	transition: 0.4s;
}

footer img:hover {
	transform: rotate(360deg);
	transition: 0.4s;
}

footer p {
	margin-top: 40px;
}

@media (max-width: 375px) {
	footer img {
		margin: 0 10px;
	}
}
